<%- include("partials/head.ejs") %>

   <%- include("partials/navbar.ejs") %>

      <h1>Home <%= "Page" .toUpperCase() %>
            <%= 4 + 5 + 1 %>
      </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, voluptates. Ratione commodi quam omnis numquam
         nobis
         excepturi velit nemo sapiente expedita. Doloribus quod pariatur similique reiciendis impedit sequi, vero
         numquam?
         Nobis assumenda eaque pariatur quod qui in, omnis placeat explicabo aspernatur corporis eveniet ipsa unde
         molestiae inventore eligendi! Iure vero aliquid ullam iste consequuntur inventore voluptate magnam tenetur
         eveniet
         id?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, magnam. Exercitationem, voluptas numquam? Ut
         excepturi doloremque, repellat nulla voluptates veniam nam voluptatum sit amet laboriosam praesentium, ipsam
         et,
         commodi accusantium.
         Delectus at fugiat ea cum. Ad repellendus voluptates ipsam eveniet accusamus tempora perferendis blanditiis
         laboriosam accusantium impedit. Repellendus tempore exercitationem possimus quis, optio neque dolor dolores
         aperiam. Consequuntur, iusto vitae?</p>

      <%- include("partials/foot.ejs") %>